{% load static %}
<li class="l-section section">
    <div class="contact">
        <div class="contact--lockup">
            <div class="model">
                <div class="model--information">
                    <p>Ambolokandrina,<br>Antananarivo 101, Madagascar</p>
                    <a href="mailto:rahalahifaliako.t@zurcher.edu.mg">rahalahifaliako.t@zurcher.edu.mg</a>
                    <a href="tel:+261345454280">+261 34 54 542 80</a>
                </div>
                <ul class="model--options">
                    <li><a href="mailto:rahalahifaliako.t@zurcher.edu.mg">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</li>