{% load static %}
<li class="l-section section">
    <div class="skill-main">
        <div class="skill-left">
            <h2>Experiences</h2>
            <div class="timeline">
                <div class="timeline-wrapper">
                    <div class="timeline-yr">
                        <span>2024</span>
                    </div>
                    <div class="timeline-info">
                        <h3><span>Developer Internship</span><small>SLife Tracker</small></h3>
                        <p><small> | September – November 2024</small><br>• Automatic billing
                            management<br>• Vehicle trip report management by request and automatic
                            with a cron task.</p>
                    </div>
                </div>

                <div class="timeline-wrapper">
                    <div class="timeline-yr">
                        <span>2021</span>
                    </div>
                    <div class="timeline-info">
                        <h3><span>Technician Assistant</span><small>IT Service AUZ</small></h3>
                        <p><small> | 2021 – July 2024</small><br>• IT support Technician and
                            Computer repairer.<br>• Photograph and Image processing.<br>• Strengthen
                            the YearBook team.</p>
                    </div>
                </div>

                <div class="timeline-wrapper">
                    <div class="timeline-yr">
                        <span>2018</span>
                    </div>
                    <div class="timeline-info">
                        <h3><span>Junior Reporter</span><small>UNICEF Fort-Dauphin</small></h3>
                        <p><small> | December 2018 – 2021</small><br>Producer of radio and
                            television programs for the protection of the rights of children and
                            young people with UNICEF and the DRCC Anôsy team.</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="skill-right">
            <h2>Educations</h2>
            <div class="timeline">
                <div class="timeline-wrapper">
                    <div class="timeline-yr">
                        <span>2024</span>
                    </div>
                    <div class="timeline-info">
                        <h3><span>Information Systems and Software Engineering</span><small>Bachelor's
                            degree in Computer Science</small></h3>
                        <p>Adventist University Zurcher (AUZ), Sambaina Antsirabe Madagascar</p>
                    </div>
                </div>

                <div class="timeline-wrapper">
                    <div class="timeline-yr">
                        <span>2018</span>
                    </div>
                    <div class="timeline-info">
                        <h3><span>Scientific</span><small>High School Diploma</small></h3>
                        <p>High School Pole, Fort-Dauphin Madagascar.</p>
                    </div>
                </div>

                <div class="timeline-wrapper">
                    <div class="timeline-yr">
                        <span>2017</span>
                    </div>
                    <div class="timeline-info">
                        <h3><span>Literary</span><small>High School Diploma</small></h3>
                        <p>Fanamby Private High School, Fort-Dauphin Madagascar.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>