{% load static %}
<li class="l-section section">
    <div class="skill px-lg-5 me-4">
        <div class="tech">
            <h3 class="d-flex justify-content-center">Technology</h3>
            <ul class="info list-inline">
                <li class="list-inline-item me-4">
                    <p style="margin-left: -10px">
                        <i class="bx bx-code-alt"></i>
                        HTML & CSS
                    </p>
                </li>
                <li class="list-inline-item me-4">
                    <p style="margin-left: -10px"><i class="bx bxl-python"></i>Python</p>
                </li>
                <li class="list-inline-item me-4">
                    <p style="margin-left: -10px">
                        <i class="bx bxl-typescript"></i>
                        Typescript
                    </p>
                </li>
                <li class="list-inline-item me-4">
                    <p style="margin-left: -10px">
                        <i class="bx bxl-javascript"></i>
                        Javascript
                    </p>
                </li>
                <li class="list-inline-item me-4">
                    <p style="margin-left: -10px">
                        <i class="bx bxl-java"></i>
                        Java
                    </p>
                </li>
                <li class="list-inline-item me-4">
                    <p style="margin-left: -10px">
                        <i class="bx bxl-c-plus-plus"></i>
                        C#
                    </p>
                </li>
            </ul>
        </div>
        <div class="framework">
            <h3 class="d-flex justify-content-center">Frameworks</h3>
            <ul class="info list-inline">
                <li class="list-inline-item me-4">
                    <p style="margin-left: -10px">
                        <i class="bx bxl-django" style="margin-right: 10px"></i>
                        Django
                    </p>
                </li>
                <li class="list-inline-item me-4">
                    <p style="margin-left: -10px">
                        <i class="bx bxl-nodejs" style="margin-right: 10px"></i>
                        NodeJS
                    </p>
                </li>
                <li class="list-inline-item me-4">
                    <p style="margin-left: -10px">
                        <i class="bx bxl-flask" style="margin-right: 10px"></i>
                        Flask
                    </p>
                </li>
                <li class="list-inline-item me-4">
                    <p style="margin-left: -10px">
                        <i class="bx bxl-angular" style="margin-right: 10px"></i>
                        AngularJS
                    </p>
                </li>
                <li class="list-inline-item me-4">
                    <p style="margin-left: -10px">
                        <i class="bx bxl-tailwind-css" style="margin-right: 10px"></i>
                        TailwindCSS
                    </p>
                </li>
                <li class="list-inline-item me-4">
                    <p style="margin-left: -10px">
                        <i class="bx bxl-bootstrap" style="margin-right: 10px"></i>
                        Bootstrap
                    </p>
                </li>
                <li class="list-inline-item me-4">
                    <p style="margin-left: -10px">
                        <i class="bx bxl-python" style="margin-right: 10px"></i>
                        PyQT
                    </p>
                </li>
                <li class="list-inline-item me-4">
                    <p style="margin-left: -10px">
                        <i class="bx bxl-python" style="margin-right: 10px"></i>
                        KivyMD
                    </p>
                </li>
                <li class="list-inline-item me-4">
                    <p style="margin-left: -10px">
                        <i class="bx bxl-c-plus-plus" style="margin-right: 10px"></i>
                        Net Framework (Desktop)
                    </p>
                </li>
            </ul>
        </div>
        <div class="tools">
            <h3 class="d-flex justify-content-center">Tools</h3>
            <ul class="info list-inline">
                <li class="list-inline-item me-4">
                    <p>
                        <i class="bx bxl-git"></i>
                        Git
                    </p>
                </li>
                <li class="list-inline-item me-4">
                    <p>
                        <i class="bx bxl-visual-studio"></i>
                        Visual Studio Code
                    </p>
                </li>
                <li class="list-inline-item me-4">
                    <p>
                        <i class="bx bx-code"></i>
                        JetBrains Tools
                    </p>
                </li>
                <li class="list-inline-item me-4">
                    <p>
                        <i class="bx bxl-trello"></i>
                        Trello
                    </p>
                </li>
                <li class="list-inline-item me-4">
                    <p>
                        <i class="bx bxl-adobe"></i>
                        Basic Suite Adobe (Photoshop, Indesign, ...)
                    </p>
                </li>
            </ul>
        </div>
        <div class="database">
            <h3 class="d-flex justify-content-center">Database Management</h3>
            <ul class="info list-inline">
                <li class="list-inline-item me-4">
                    <p>
                        <i class="bx bxl-postgresql"></i>
                        PostgreSQL
                    </p>
                </li>
                <li class="list-inline-item me-4">
                    <p>
                        <i class="bx bxl-mongodb"></i>
                        MongoDB
                    </p>
                </li>
                <li class="list-inline-item me-4">
                    <p>
                        <img src="{% static 'img/mysql_logo_500px.png' %}" alt="">
                        MySQL
                    </p>
                </li>
                <li class="list-inline-item me-4">
                    <p>
                        <i class="bx bx-data"></i>
                        SQLite
                    </p>
                </li>
            </ul>
        </div>
        <div class="os">
            <h3 class="d-flex justify-content-center">Operating System</h3>
            <ul class="info list-inline">
                <li class="list-inline-item me-4">
                    <p>
                        <img src="{% static 'img/ubuntu_500px.png' %}" alt="">
                        Ubuntu
                    </p>
                </li>
                <li class="list-inline-item me-4">
                    <p>
                        <i class="bx bxl-microsoft"></i>
                        Windows
                    </p>
                </li>
                <li class="list-inline-item me-4">
                    <p>
                        <img src="{% static 'img/kali_linux_500px.png' %}" alt="">
                        Kali Linux
                    </p>
                </li>
                <li class="list-inline-item me-4">
                    <p>
                        <i class="bx bxl-android"></i>
                        Android
                    </p>
                </li>
                <li class="list-inline-item me-4">
                    <p>
                        <i class="bx bxl-apple"></i>
                        OSX
                    </p>
                </li>
            </ul>
        </div>
    </div>
</li>